@font-face {
  font-family: Quciksand;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Quicksand'),
    url('./Assets/Fonts/Quicksand-Light.otf') format('opentype');
}
@font-face {
  font-family: QuicksandBold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('QuicksandBold'),
    url('./Assets/Fonts/Quicksand-Bold.otf') format('opentype');
}
@font-face {
  font-family: BeVietnam;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('BeVietnamBold'),
    url('./Assets/Fonts/BeVietnam-Light.ttf') format('truetype');
}
@font-face {
  font-family: BeVietnamBold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('BeVietnamBold'),
    url('./Assets/Fonts/BeVietnam-Bold.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-image: linear-gradient(to bottom, #3b424b, #070a0c);
}

body::-webkit-scrollbar {
  width: 0.65rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(21, 219, 209), rgb(141, 76, 221));
  border-radius: 30px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, rgb(21, 219, 209), rgb(141, 76, 221));
  cursor: pointer;
  width: 4rem;
}
