@font-face {
  font-family: Quicksand;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Quicksand'),
    url('./Assets/Fonts/Quicksand-Light.otf') format('opentype');
}
@font-face {
  font-family: QuicksandBold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('QuicksandBold'),
    url('./Assets/Fonts/Quicksand-Bold.otf') format('opentype');
}
@font-face {
  font-family: BeVietnam;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('BeVietnamBold'),
    url('./Assets/Fonts/BeVietnam-Light.ttf') format('truetype');
}
@font-face {
  font-family: BeVietnamBold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('BeVietnamBold'),
    url('./Assets/Fonts/BeVietnam-Bold.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background-image: linear-gradient(to bottom, #3b424b, #070a0c);
}

body::-webkit-scrollbar {
  width: 0.65rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(21, 219, 209), rgb(141, 76, 221));
  border-radius: 30px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, rgb(21, 219, 209), rgb(141, 76, 221));
  cursor: pointer;
  width: 4rem;
}
.check {
  text-align: center;
  margin-top: 40px;
  font-family: QuicksandBold;
  font-size: 50px;
  margin-bottom: 90px;
}

.section_link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
}
.blown {
  width: 400px;
}
.link {
  all: unset;
  cursor: pointer;
  padding: 15px 80px;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 45px;
  letter-spacing: 2px;
  border: 5px solid #ffffff;
  position: relative;
  transition: 1s;
}

.link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.link:hover:before {
  transform: rotateX(0);
}

.link:hover:after {
  transform: rotateY(0);
}

.link:hover {
  color: rgb(0, 0, 0);
}
