.nav,
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: BeVietnam, sans-serif;
}
.list {
  width: 400px;
  justify-content: space-between;
  text-decoration: none;
}
.item {
  list-style-type: none;
  padding: 10px 30px;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 20px;
}
.active {
  background-color: #91e1ef;
  font-family: BeVietnamBold;
  color: #000;
}
