.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 35vw;
  height: 100vh;
  background-color: #91e1ef;
  /* background-image: linear-gradient(315deg, #fff3a4 0%, #fff3a4 74%); */
  overflow: hidden;
  /* transform: skewX(40deg); */
  /* rotate: 45deg; */
  translate: -180px 150px;
  transform-origin: 0 0;
  z-index: -1;
}
.about_image {
  margin-right: 140px;
  margin-top: 100px;
}
.about_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #ebe5da;
}
.about_nick {
  font-family: BeVietnam;
  margin-left: 10px;
  font-size: 18px;
}
.about_text {
  font-family: QuicksandBold;
  font-size: 70px;
}
.separator {
  width: 90px;
  height: 4px;
  /* background-image: linear-gradient(315deg, #fff3a4 0%, #fff3a4 74%); */
  background-color: #91e1ef;
  border-radius: 20px;
  margin: 30px 0;
}
.about_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  row-gap: 10px;
  color: #fff;
  font-family: BeVietnam;
  font-size: 18px;
}
.github {
  color: #000;
  font-family: BeVietnam;
  font-style: italic;
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 16px;
}
