.project_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-top: 100px;
}
.project_img_container {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  /* background-image: linear-gradient(315deg, #fff3a4 0%, #fff3a4 74%); */
  background-color: #91e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project_img {
  margin-top: 40px;
  width: 450px;
}
.project_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 150px;
}
.project_tech {
  font-family: BeVietnam;
  /* margin-left: 10px; */
  font-size: 18px;
}
.project_name {
  font-family: QuicksandBold;
  font-size: 40px;
}
.separator {
  width: 90px;
  height: 4px;
  /* background-image: linear-gradient(315deg, #fff3a4 0%, #fff3a4 74%); */
  background-color: #91e1ef;
  border-radius: 20px;
  margin: 30px 0;
  margin-top: 0px;
}
.project_description {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  color: #cfcfcf;
  font-family: BeVietnam;
}
.commits {
  margin-top: 20px;
  color: #5b5b5b;
  font-size: 16px;
  font-family: BeVietnamBold;
}
