.project_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  margin-top: 100px;
}
.project_img_container {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-image: linear-gradient(315deg, #fff3a4 0%, #fff3a4 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project_img {
  margin-top: 40px;
  width: 450px;
}
.project_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 150px;
}
.project_tech {
  font-family: BeVietnam;
  margin-left: 10px;
}
.project_name {
  font-family: Quicksand;
  font-size: 40px;
}
.separator {
  width: 90px;
  height: 4px;
  background-color: #000;
  border-radius: 20px;
  margin: 30px 0;
}
.project_description {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 10px;
  color: #5b5b5b;
  font-family: BeVietnam;
}
